* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #111;
}

h1 {
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
    font-family: 'Hind', sans-serif;
}

.styling {
    font-weight: 800;
    color: lime;
}

.my {
    font-weight: 800;
    color: rgb(9, 135, 253);
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#textInput {
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
}

#until {
    height: 50px;
    width: 160px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #fff;
    color: silver;
    margin: 0.5px;
}

#date {
    outline: none;
    border: none;
}

#addButton {
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: lime;
    color: #fff;
    margin: 0.5px;
    margin-right: 5px;
    cursor: pointer;
}

#sortButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: limegreen;
    color: #fff;
    margin: 0.5px;
    cursor: pointer;
}

#cleanButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: limegreen;
    color: #fff;
    margin: 0.5px;
    cursor: pointer;
}

#prioritySelector {
    height: 50px;
    width: 70px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #fff;
    color: silver;
    margin: 0.5px;
}

#addButton:hover,
#cleanButton:hover,
#sortButton:hover {
    opacity: 0.7;
}

#count {
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
}

.todoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid #fff;
    background-color: black;
    user-select: none;
}

.todoText {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width: 60%;
    font-size: 1.4rem;
}

.todoPriority,
.todoCreatedAt,
.todoUntil {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width: 10%;
    font-size: 0.9rem;
}

.doneButton {
    font-size: 1.4rem;
    margin: 0 0.5rem;
    width: 10%;
    font-family: 'Hind', sans-serif;
    background: none;
    color: lime;
    border: none;
    cursor: pointer;
}

.removeButton {
    font-size: 1.4rem;
    margin: 0 0.5rem;
    width: 10%;
    font-family: 'Hind', sans-serif;
    background: none;
    color: brown;
    border: none;
    cursor: pointer;
}
.doneButton:hover, .removeButton:hover{
    border: 1px solid white;
}
.searching{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#search{
    padding: 0.5rem 1rem;
    height: 30px;
    outline: none;
    border: none;
    background-color: #fff;
    width: 300px;
    font-size: 1rem;
    margin: 0.25rem;
    border-radius: 25px;
}